@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans";
}
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    to bottom,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  );
  overflow: hidden;
}
.attribution {
  background-color: hsl(240, 5%, 91%);
  padding: 20px;
  font-size: 11px;
  text-align: center;
  border-radius: 12px;
  position: absolute;
  bottom: 10px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

.container {
  max-width: 950px;
  margin: auto;
  display: flex;
  border-radius: 18px;
  position: relative;
  background: hsl(240, 5%, 91%);
  overflow: hidden;
}
.container .hero {
  position: relative;
  width: 450px;
}
.container .hero .bg-pattern img {
  position: absolute;
  width: 500px;
  height: 500px;
  left: -20%;
}
.container .hero .bg-woman img {
  width: 450px;
  height: 300px;
  position: absolute;
  left: -20%;
  top: 10%;
}

.container .content {
  position: relative;
  width: 500px;
  padding: 24px;
}
.container .content .box {
  width: 85%;
  position: relative;
  font-size: 18px;
  background-color: hsl(240, 5%, 91%);
  color: white;
  overflow: hidden;
  color: hsl(237, 12%, 33%);
}
.content .box .box-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  position: relative;
  border-bottom: 1px solid hsl(240, 6%, 50%);
  padding: 0 12px;
  font-size: 14px;
  transition: 0.3s;
}
.content .box .box-title p {
  transition: 0.3s;
}
.content .box .box-title:hover p {
  color: hsl(14, 88%, 65%);
}
.content .box .faq {
  font-size: 32px;
  font-weight: bold;
  border-bottom: none;
  margin: 12px 0;
}
.content .box .box-content {
  color: hsl(240, 6%, 50%);
  height: 0;
  transition: 0.3s;
  font-size: 14px;
}
.content .box .box-content p {
  margin: 10px 10px;
}
.content .box svg {
  transition: 0.3s;
}
.content .box.active svg {
  transform: rotate(180deg);
}
.content .box.active .box-content {
  height: 58px;
}
.content .box.active .box-title {
  font-weight: bold;
}
@media screen and (max-width: 990px) {
  .container {
    width: 400px;
    flex-direction: column;
    overflow: visible;
  }
  .container .hero {
    height: 90px;
  }
  .container .hero .bg-pattern img {
    display: none;
  }
  .container .hero .bg-woman img {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    transform: translateX(-60%);
    top: -140%;
  }
  .container .content {
    position: relative;
    width: 100%;
  }
  .container .content .box {
    width: 100%;
  }
  .content .box .box-content p {
    margin: 8px 5px;
  }
}
@media screen and (max-width: 540px) {
  .container {
    width: 320px;
    flex-direction: column;
    overflow: visible;
  }
  .container .hero .bg-woman img {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 180px;
    top: -140%;
  }
  .container .box .faq {
    flex-direction: row;
    justify-content: center;
  }
  .content .box .box-content p {
    font-size: 11px;
  }
  .content .box .box-title p {
    font-size: 11px;
  }
  .container .box .box-title {
    width: 90%;
    margin: auto;
  }
  .container .box .box-content {
    width: 90%;
    margin: auto;
  }
  .attribution {
    max-width: 380px;
  }
}
