@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: hsl(210, 46%, 95%);
}
.container {
  width: 700px;
  font-family: "Manrope", sans-serif;
  display: flex;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 2px 12px 22px rgba(0, 0, 0, 0.1);
}
.container .hero {
  width: 40%;
}
.container .hero img {
  width: 100%;
  height: 100%;
  border-radius: 10px 0 0 10px;
  object-fit: cover;
}
.container .content {
  width: 60%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.container .content .box {
  margin: 10px 0;
}
.container .content h1 {
  font-size: 22px;
  color: hsl(217, 19%, 35%);
}
.container .content p {
  font-size: 14px;
  color: hsl(214, 17%, 51%);
}
.container .content img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.container .content .user {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.container .user .info {
  display: flex;
}
.container .user .info .detail {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  justify-content: space-around;
}
.container .user .info .detail p {
  font-size: 12px;
}
.container .user .info .detail h5 {
  font-size: 14px;
  color: hsl(217, 19%, 35%);
}
.container .user .share .share-icon {
  width: 32px;
  height: 32px;
  background-color: hsl(210, 46%, 95%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.container .content .share-detail {
  background-color: hsl(217, 19%, 35%);
  position: absolute;
  width: 232px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  right: -80px;
  bottom: 60px;
  border-radius: 10px;
  padding: 16px 24px;
  transform: translateY(10px);
  opacity: 0;
  transition: 0.3s;
}
.container .content .share-detail p {
  text-transform: uppercase;
  color: hsl(210, 46%, 95%);
  letter-spacing: 4px;
}
.container .content .share-detail .icon {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .content.active .share-detail {
  opacity: 1;
  transform: translateY(0);
}
@media screen and (max-width: 420px) {
  .container {
    width: 300px;
    margin: auto;
    flex-direction: column;
    overflow: hidden;
  }
  .container .hero {
    width: 100%;
    height: 200px;
  }
  .container .hero img {
    border-radius: 10px 10px 0 0;
  }
  .container .content {
    padding: 24px 24px 12px 24px;
    width: 100%;
  }
  .container .content h1 {
    font-size: 15px;
  }
  .container .content p {
    font-size: 13px;
  }
  .container .content .share-detail {
    bottom: 0;
    width: 100%;
    left: 0%;
    bottom: 120%;
  }
}
